
.left {
    width: 300px;
    float: left;
}

.left.isfixed {
    position: fixed;
    top: 20px;
}

.left .win-body {
    padding-bottom: 0;
}

.right {
    width: 852px;
    float: right;
    padding: 20px 40px;
}

dd, dt {
    line-height: 30px;
}

dd a, dt a {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none !important;
    color: #888989 !important;
}

dd.cur, dd:hover, dt.cur, dt:hover {
    background-color: #eeeeee;
    color: #37aad7 !important;
}

dd.cur a, dd:hover a, dt.cur a, dt:hover a {
    color: #37aad7 !important;
}

.nav dl {
    /*padding-bottom: 20px;*/
    position: relative;
}

.nav dl:after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #dedede;
    position: absolute;
    left: 0;
    top: 18px;
}

*, :after, :before {
    box-sizing: border-box;
    outline: none;
}

.nav dl dt {
    position: relative;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 16px;
    color: #222;
}

.nav dl dd a {
    color: inherit;
    display: block;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.nav dl dt em {
    background-color: #37aad7 !important;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 16px;
    left: -4px;
    z-index: 9;
}

